on:
  push:
    paths:
      - 'FirstApp/**'
      - 'SecondApp/**'
      - 'Modules/**'

env:
  DOCKER_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
  # DOCKER_PASSWORD: ${{ secrets.DOCKERHUB_PASSWORD }}
  DOCKER_ACCESS_TOKEN: ${{ secrets.DOCKER_ACCESS_TOKEN }}

jobs:
  build_first_app:
    runs-on: ubuntu-latest
    if: contains(github.event.head_commit.message, 'FirstApp') || contains(github.event.head_commit.message, 'Modules')
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Copy Modules
        run: cp -R Modules/* FirstApp/

      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: varun8487
          password: ${{ env.DOCKER_ACCESS_TOKEN }}

      # Build and push the Docker image
      - name: Build and Push Docker Image
        uses: docker/build-push-action@v2
        with:
          context: FirstApp  # Set the context for the Docker build to the backend-api directory
          push: true  # Push the Docker image to Docker Hub
          tags: |

           varun8487/task:${{ github.sha }}
           varun8487/task:FirstApp


  build_second_app:
    runs-on: ubuntu-latest
    if: contains(github.event.head_commit.message, 'SecondApp') || contains(github.event.head_commit.message, 'Modules')
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Copy Modules
        run: cp -R Modules/* SecondApp/ && ls -al

      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ env.DOCKER_USERNAME }}
          password: ${{ env.DOCKER_ACCESS_TOKEN }}

      # Build and push the Docker image
      - name: Build and Push Docker Image
        uses: docker/build-push-action@v2
        with:
          context: SecondApp  # Set the context for the Docker build to the backend-api directory
          push: true  # Push the Docker image to Docker Hub
          tags: |

           varun8487/task:${{ github.sha }}
           varun8487/task:SecondApp
